# {{ ansible_managed }}
[Interface]
PrivateKey = {{ server_privkey }}
Address = 10.0.0.1/24
ListenPort = 51830
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o ens3 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o ens3 -j MASQUERADE

[Peer]
PublicKey = {{ user_key.stdout }}
# Endpoint = {{ hostvars['vpn_server'].ansible_host }}:51820
AllowedIPs = 10.0.0.2/24

[Peer]
PublicKey = {{ user_key.stdout }}
# Endpoint = {{ hostvars['vpn_server'].ansible_host }}:51820
AllowedIPs = 10.0.0.3/24
